input[type=text].form-control {
    border-radius: 5px;
    border-width: 2px;
    border-color: darkgrey;
    background: thistle;
 }
 
 button.btn.btn-primary {
    background: lightcoral;
    border-color: hotpink;
 }
 
 button.btn.btn-default{
    background: yellow;
    border-color: yellow;
    color:red;
    box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.75);
 }
 